.walletContainer {
	padding: 0 20px;
	width: 700px;
	height: 500px;
	display: flex;
	flex-direction: row;
	background-color: yellow;
	overflow: hidden;
}

.leftPanel {
	width: 40%;
	background-color: #8e8e93;
}

.rightPanel {
	width: 60%;
	background-color: #f6f6f7;
}
