.addCardContainer {
	position: relative;
}

.addCardButton {
	cursor: pointer;
}

.addCardModal {
	display: none;
	position: absolute;
	width: 200px;
	height: 150px;
	border: 1px solid grey;
	background-color: white;
	flex-direction: column;
	justify-content: space-between;
	
	&.visible {
		display: flex;
	}

	.saveButton {
		background-color: green;
	}
}